<div class="wrapper flex p-20">

    <div class="left">

        <div class="logo">

            <img src="/assets/logo-stacked-noslogan-whitebg.jpg">

        </div>

    </div>

    <div class="right flex">

        <div class="search p-20">

            <input placeholder="Search..">

        </div>

        <div class="menu flex">

            <div class="item" routerLink="/dashboard" routerLinkActive="active">HOME</div>
            <div class="item" routerLink="/home" routerLinkActive="active">HOME</div>
            <div class="item" routerLink="/home" routerLinkActive="active">HOME</div>
            <div class="item" routerLink="/settings" routerLinkActive="active">

                yomateo

                <i class="fas fa-user-astronaut"></i>

            </div>

        </div>

    </div>

</div>
